<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReluzCap Web ServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ReluzCap Web ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.twwwireless.com.br/reluzcap/wsreluzcap.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReluzCap Web ServiceSoap"
                contract="Serv.ReluzCapWebServiceSoap" name="ReluzCap Web ServiceSoap" />
            <endpoint address="http://www.twwwireless.com.br/reluzcap/wsreluzcap.asmx"
                binding="customBinding" bindingConfiguration="ReluzCap Web ServiceSoap12"
                contract="Serv.ReluzCapWebServiceSoap" name="ReluzCap Web ServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>